:root
{
	/*Define Global Variables*/
	--color1: black;
	--color2:red; /*#a4f4f9 #ff91a4 */
	--color3: white; /*#ec05f4;*/
    --color4:green;
	--color5: #173470;
	--color6: #fed018;
}

*{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box ;
	text-align: right;
}

button
{
    background-color: var(--color4) !important;
}

.form-big
{
    border: 1px solid;
    margin-top:20px;
    margin-bottom:20px;
    
}
.main-form
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin-top:30px;
    padding:20px;
}

 .main-form .data
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: right;
    width:100%;
}

.main-form .data .personal
{
    width:50%;
    padding:20px;
    border: 1px solid;
    margin:10px;
    background-color: var(--color4);
    border-radius: 10px;
}

.main-form .data .land
{
    width:50%;
    padding:20px;
    border: 1px solid;
    margin:10px;
    background-color: var(--color4);
    border-radius: 10px;
}

.main-form .butt
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-form .submit
{
    margin-top: 10px;
    background-color: var(--bs-primary);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

 .ifValid
{
    color: green;   
}

.div_class
{
    display: none;
}

#signin_error
{
    display: none;
}

#p_error
{
    color: red
}

#signin_p_error
{
    color: red
}

#signup_p_error
{
    color: red
}

.main-form .personal
{
    width:50%;
    padding:20px;
    border: 1px solid;
    margin:10px;
    background-color: var(--color4);
    border-radius: 10px;
}

.textArea
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.textArea .area
{
	height: 100px;
}
