:root
{
	--color1: black;
	--color2:red;
	--color3: white; 
	--color4:green;
	--dark-color:#19283f;
	--green-color:#90EE90;
}

*{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box ;
	text-align: right;
}

html
{
	scroll-behavior: smooth;
}

body
{

    font-family: 'Work Sans', sans-serif;
	background-image: url('../imgs/5.png');
    background-size:cover;
	
}

.navbar
{
	width:100%;
	position        : fixed;
}

.textArea
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.textArea .area
{
	height: 100px;
}

.reply
{
	margin-bottom:20px;
}

/*
.display
{
	margin-top:20px;
}
*/

.table
{
	border: 0px;
}

#add_id
{
	display: flex;
}

#update_id
{
	display: none;
}

#timer
{
	display: none;
	flex-direction: column;
	width:100%;
	height:100px;
	background-color: var(--color6);
	
	margin-top:50px;
	margin: auto;
	margin-top: 20px;
	border-radius: 5px;
	margin-bottom: 50px;
}

#timer
{
	animation: timerAnimation 1s infinite;
}

@keyframes timerAnimation 
{
	25% 
	{
		transform: scale(1.15);
	}
}

.sign_class
{
	display: none;
	margin:auto;
	margin-top: 100px;
	margin-bottom: 1500px;
	padding-right: 110px;
	padding-top: 20px;	
}

.follow_class
{
	display: none;
	margin:auto;
	margin-top: 100px;
	margin-bottom: 50px;
	padding-right: 110px;
	padding-top: 20px;	
}

#follow_error
{
	display: none;

}

