<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>task 1 in vue</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet" />
</head>

<body>

    <div id="app">
        <Home></Home>

        <p>{{message}}</p>

        <p v-if="ahmed==true"> Hello Ahmed</p>
        <p v-if="elham==true"> Hello elham</p>

        <p v-text> {{text}}</p>
        <p v-html="text"> {{text}}</p>

        <li v-for="product in products">{{product.name}}, {{product.price}}</li>
        <li v-for="player in players">{{player.name}}, {{player.goals}}</li>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
    <script src="js/vue.js"></script>
</body>

</html>