.caption 
{
    position: absolute;
    bottom: 10px;
    margin: 0 10%;
    width: 80%;
    background-color: #ccc;
    text-align: center;
}

.item 
{
    position: relative;
}

.lightBox 
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightItem 
{
    width: 700px;
    height: 500px;
    background-image: url(/img/2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.close 
{
    position: absolute;
    right: 0%;
    top: 0;
}

i 
{
    margin: 10px;
    font-size: 2rem;
}
